In [ ]:
#!pip install hopsworks

In [ ]:
#!pip install yfinance

In [1]:
import yfinance as yf
import pandas as pd

forex_data = yf.download('EURUSD=X', start='2011-01-02', end='2023-08-31')
forex_data['fx'] = "EURUSD=X"

forex_data = forex_data.reset_index()
forex_data.rename(columns = {'Adj Close':'adj_close'}, inplace = True)

forex_data

[*********************100%%**********************]  1 of 1 completed

,Date,Open,High,Low,Close,adj_close,Volume,fx
0,2011-01-03,1.335595,1.336505,1.325293,1.335791,1.335791,0,EURUSD=X
1,2011-01-04,1.336005,1.343093,1.331824,1.335684,1.335684,0,EURUSD=X
2,2011-01-05,1.332392,1.332392,1.312905,1.332108,1.332108,0,EURUSD=X
3,2011-01-06,1.316101,1.317037,1.303373,1.315686,1.315686,0,EURUSD=X
4,2011-01-07,1.298904,1.302134,1.293895,1.297993,1.297993,0,EURUSD=X
...,...,...,...,...,...,...,...,...
3293,2023-08-24,1.086579,1.087690,1.081549,1.086579,1.086579,0,EURUSD=X
3294,2023-08-25,1.079914,1.083976,1.076670,1.079914,1.079914,0,EURUSD=X
3295,2023-08-28,1.079739,1.082134,1.079937,1.079739,1.079739,0,EURUSD=X
3296,2023-08-29,1.082556,1.085670,1.078353,1.082556,1.082556,0,EURUSD=X
3297,2023-08-30,1.086921,1.094547,1.085611,1.086921,1.086921,0,EURUSD=X

In [2]:
forex_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3298 entries, 0 to 3297
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3298 non-null   datetime64[ns]
 1   Open       3298 non-null   float64
 2   High       3298 non-null   float64
 3   Low        3298 non-null   float64
 4   Close      3298 non-null   float64
 5   adj_close  3298 non-null   float64
 6   Volume     3298 non-null   int64
 7   fx         3298 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 206.2+ KB

In [3]:
import hopsworks
proj = hopsworks.login()
fs = proj.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://34.90.74.208:443/p/119
Connected. Call `.close()` to terminate connection gracefully.

In [4]:
fg = fs.get_or_create_feature_group(name="eurusd", 
                                    version=1, 
                                    description="EUR/USD fx exchange rate", 
                                    primary_key=['fx','date'], 
                                    event_time="date")

In [5]:
fg.insert(forex_data)

FeatureGroupWarning: The ingested dataframe contains upper case letters in feature names: `['Date', 'Open', 'High', 'Low', 'Close', 'Volume']`. Feature names are sanitized to lower case in the feature store.

Uploading Dataframe: 0.00% |          | Rows 0/3298 | Elapsed Time: 00:00 | Remaining Time: ?

Launching job: eurusd_1_offline_fg_backfill
Job started successfully, you can follow the progress at
https://34.90.74.208/p/119/jobs/named/eurusd_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x7f0718cd6b60>, None)

In [ ]:
# df = fg.read()

In [ ]:
# df