In [1]:
import hopsworks

proj = hopsworks.login()
fs = proj.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://34.90.74.208:443/p/119
Connected. Call `.close()` to terminate connection gracefully.

In [2]:
fg = fs.get_feature_group(name = "eurusd", version=1)

In [3]:
selected_features = fg.select_except(features=["Date","fx", "volume"])

In [4]:
fv = fs.create_feature_view(name="fx", version=2, query=selected_features, labels=["close"])

Feature view created successfully, explore it at
https://34.90.74.208:443/p/119/fs/67/fv/fx/version/2

In [5]:
X_train, X_test, y_train, y_test = fv.train_test_split(test_size=0.2)

Finished: Reading data from Hopsworks, using ArrowFlight (0.47s)

DeprecationWarning: np.find_common_type is deprecated.  Please use `np.result_type` or `np.promote_types`.
See https://numpy.org/devdocs/release/1.25.0-notes.html and the docs for more information.  (Deprecated NumPy 1.25)
VersionWarning: Incremented version to `1`.

In [6]:
X_train

            date      open      high       low  adj_close  volume
0     2023-08-28  1.079739  1.082134  1.079937   1.079739       0
1     2020-01-24  1.105534  1.106085  1.102123   1.105522       0
3     2021-02-01  1.212283  1.213607  1.206913   1.212386       0
4     2023-01-03  1.067771  1.068262  1.052155   1.067771       0
6     2019-08-29  1.108537  1.109016  1.105620   1.108586       0
...          ...       ...       ...       ...        ...     ...
12985 2016-03-16  1.111000  1.111099  1.105800   1.110901       0
12986 2018-11-15  1.131363  1.135112  1.127497   1.131183       0
12987 2016-12-27  1.045577  1.046134  1.043536   1.045697       0
12988 2014-03-03  1.377543  1.379600  1.374986   1.377695       0
12990 2014-06-17  1.357700  1.358696  1.353858   1.357718       0

[10392 rows x 6 columns]

In [7]:
y_train

          close
0      1.079739
1      1.105522
3      1.212386
4      1.067771
6      1.108586
...         ...
12985  1.110901
12986  1.131183
12987  1.045697
12988  1.377695
12990  1.357718

[10392 rows x 1 columns]

In [10]:
df = fv.get_batch_data(start_time="2023-09-13")

Finished: Reading data from Hopsworks, using ArrowFlight (0.24s)

In [11]:
df

                    date      open      high       low  adj_close  volume
0    2023-09-15 00:00:00  1.063830  1.063830  1.063830   1.063830       0
1    2023-09-14 00:00:00  1.073537  1.073537  1.073537   1.073537       0
2    2023-09-14 11:53:00  1.073422  1.073422  1.073422   1.073422       0
3    2023-09-15 10:21:00  1.066894  1.066894  1.066894   1.066894       0
4    2023-09-15 18:39:00  1.066780  1.066780  1.066780   1.066780       0
...                  ...       ...       ...       ...        ...     ...
3394 2023-09-15 03:39:00  1.064849  1.064849  1.064849   1.064849       0
3395 2023-09-15 03:34:00  1.064963  1.064963  1.064963   1.064963       0
3396 2023-09-15 01:18:00  1.064396  1.064396  1.064396   1.064396       0
3397 2023-09-15 07:08:00  1.066212  1.066212  1.066212   1.066212       0
3398 2023-09-15 01:19:00  1.064396  1.064396  1.064396   1.064396       0

[3399 rows x 6 columns]